:root {
  --primary-color: #0a0a0a;
  --secondary-color: #141414;
  --third-color: #1e1e1e;
  --fourth-color: #c3922e;
  --fifth-color: #cda349;
  --sixth-color: #e2c675;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Baskerville:ital@0;1&display=swap');


/* font-family: 'League Spartan', sans-serif;
font-family: 'Libre Baskerville', serif;
 */
body {
  color: #fff;
  background-color: var(--third-color);
}

h3,
h4 {
  margin-bottom: 0;
}


nav {
  font-family: 'Libre Baskerville', serif;
  border-bottom: 4px solid var(--sixth-color);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  background: white;
  color: var(--secondary-color);
}

#page-body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding-top: 64px;
  animation: slidein 1s;
}

#page-body h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 50px;
}

/* homepage */
.homeDiv h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  animation: slidein 1s;
}

.logo {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* About Page */
.aboutDiv {
  animation: slidein 1s;
}

.aboutDiv a{
  text-decoration: none;
  padding: 16px;
  color:white;
  font-size: larger;
  background: var(--fourth-color);
}

.aboutDiv a:hover{
  color:var(--third-color);
  background: var(--fourth-color);
}

/* CardPage */
.cardIntro {
  animation: slidein 1s;
}
.cardImg{
  display:block;
  width:40%;
  float:left;
  padding-right:3%;
}

.carContent{
  display: block;
}

.cardContent a{
  color:white;
  font-size: larger;
}

.cardContent a:hover{
  color:var(--fifth-color);
  
}

.profileLink a{
  color:var(--sixth-color);
  text-decoration: none;
  font-weight: bold;
  padding: 16px 16px;
}

.profileLink a:hover {
  background: white;
  color: var(--secondary-color);
}

.profileLink ul{
  list-style-type: none;
  margin: 0;
  padding: 0.1%;
}

.profileLink li{
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
}


/* cards */

.card-list-item  {
  padding-bottom: 32px;
  color: white;
  animation: slidein 1s;
}

.cardimg{
  width: 20%;
  padding:1%
}

.cardimg:hover{
  box-shadow: 
    0 0 30px 2px white,
    0 0 10px -5px white;
    transition: 1s;
    animation: hoverRotateCard 8s ease 0s 1;
}


/* Slide In */
@keyframes slidein {
0% {
opacity: 0;
transform: translate(0,20px);
}
100% {
    opacity: 1;
    transform: translate(0,0);
}
}

@keyframes hoverRotateCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  10%, 20% {
    transform: rotateZ(0deg) rotateX(5deg) rotateY(-20deg);
  }
  30%, 40% {
    transform: rotateZ(0deg) rotateX(-5deg) rotateY(-20deg);
  }
  50%, 60% {
    transform: rotateZ(5deg) rotateX(10deg) rotateY(20deg);
  }
  70% {
    transform: rotateZ(-5deg) rotateX(-10deg) rotateY(-20deg);
  }
}

@media only screen and (max-width: 800px) {
  .cardimg{
    width:40%
  }
}