:root {
  --primary-color: #0a0a0a;
  --secondart-color: #141414;
  --third-color: #1e1e1e;
  --fourth-color: #c3922e;
  --fifth-color: #cda349;
  --sixth-color: #e2c675;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Baskerville:ital@0;1&display=swap');


/* font-family: 'League Spartan', sans-serif;
font-family: 'Libre Baskerville', serif;
 */
body {
  color: #fff;
  background-color: var(--primary-color);
}

h3,
h4 {
  margin-bottom: 0;
}


nav {
  font-family: 'Libre Baskerville', serif;
  border-bottom: 4px solid var(--sixth-color);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  background: white;
  color: var(--secondart-color);
}

#page-body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding-top: 64px;
}

#page-body h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 50px;
}

/* homepage */
.homeDiv h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.logo {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* cards */
.card-list-item {
  text-decoration: none;
  padding: 16px 0 0 0;
}

.card-list-item h3 {
  padding-bottom: 32px;
  color: white;
  border-bottom: 2px solid white;
}